{% extends "blog/base.html" %}

{% load static %}

{% block content %}

<!-- About This Blog -->
<div class="accordion col-12">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#collapseOne" 
            aria-expanded="true" 
            aria-controls="collapseOne">
                <strong class="h5 m-0 col-12 text-center">About This Blog</strong>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse hide">
            <div class="accordion-body text-center">
                <p>Welcome to "Lizard Is My Pet," 
                    a dedicated blog tailored for those embarking on the exciting journey of adopting a lizard but seeking a comprehensive understanding of their scaly companions.</p> 
                <p>Our blog is designed to be the go-to resource, providing valuable insights and firsthand experiences from passionate lizard pet owners.<p/>
            </div>
        </div>
    </div>
<div class="container-fluid">
    <div class="row">

        <!-- blog entries -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for lizard in lizard_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <a href="{% url 'lizard_detail' lizard.slug  %}">
                                    {% if 'default' in lizard.image.url %}
                                    <img class="card-img-top" alt="" src="/static/images/lizard_placeholder.jpg">
                                    {% else %}
                                    <img class="card-img-top" alt="" src=" {{ lizard.image.url }}">
                                    {% endif %}
                                    </a>
                                <div class="image-flash">
                                    <p class="author">Author: {{ lizard.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'lizard_detail' lizard.slug  %}" class="post-link">
                                <h2 class="card-title">{{ lizard.title }}</h2>
                            </a>
                            <p class="card-text card-icon"><i class="fa-solid fa-magnifying-glass-dollar"></i>
                                <i class="fa-solid fa-dragon"></i>
                                <i class="fa-solid fa-bowl-rice"></i>
                                <i class="fa-solid fa-bug"></i>
                                <i class="fa-solid fa-ruler-horizontal"></i>
                            </p>
                            <hr>
                            <p class="card-text text-muted h6">{{ lizard.created_on}}</p>
                            <p class="card-icon">
                                <!-- lizard(post) likes count -->
                                <span class="p-1"><i class="fa-solid fa-heart"></i> {{ lizard.number_of_likes }}</span>
                                
                                <!-- lizard(post) experiences count -->
                                {% with lizard.experiences.count as total_experiences %}
                                <span class="p-1"><i class="fa-regular fa-comment"></i> {{ total_experiences }}</span>
                                {% endwith %}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}