<!-- Single Lizard (post) display -->
{% extends "blog/base.html" %}

{% load static %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Lizard blog post content -->
<div class="container detail-post">
    <div class="row">
            {% if 'default' in lizard.image.url %}
            <img src="{% static 'images/lizard_placeholder_image.jpg' %}" class="col-md-5 rounded card detail-img" alt="Lizard (post) placeholder. There is no image yet.">
            {% else %}
            <img src="{{ lizard.image.url }}" class="col-md-5 rounded card detail-img" alt="{{ lizard.title }}">
            {% endif %}
        <div class="col-md-6 card">
            <div class="card-body d-flex justify-content-end flex-column flex-wrap">
                <div class="h3"> {{ lizard.title }} </div>
                <h6 class="card-subtitle mb-6 text-body-secondary">Created by {{lizard.author}}</h6>
                <p class="content"> {{ lizard.description }} </p>
                <p class="mt-auto content"> {{lizard.created_on }} </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 card">
            <div class="card-body">
                <div class="h5 content"> The maximum size: </div>
                <p class="content">{{ lizard.max_size }} cm</p>
                <hr>
                <div class="h5 content"> Lifespan: </div>
                <p class="content"> {{ lizard.lifespan }} years </p>
                <hr>
                <div class="h5 content"> Price range: </div>
                <hr>
                <p class="content"><strong>Price from:</strong> &dollar;{{ lizard.price_from }} </p>
                <p class="content"><strong>Price to:</strong> &dollar;{{ lizard.price_to }} </p>
            </div>
        </div>
        <div class="col-md-6 card">
            <div class="card-body">
                <div class="h5 content"> Diet: </div>
                <hr>
                <h6 class="content">Feeding habits:</h6>
                <p class="content"> {{ lizard.get_diet_display }} </p>
                <h6 class="content">Diet consisting of:</h6>
                <p class="content"> {{ lizard.diet_list }} </p>
            </div>
        </div>
    </div>
</div>
<!-- Likes -->
<div class="icons-container">
    {% if user.is_authenticated %}
    <div class="post-icons">
        <form action="{% url 'lizard_like' lizard.slug %}" method="POST">
            {% csrf_token %}
            {% if liked %}
            <span>
                <button class="btn-secondary like-review" type="submit" name="lizard_id" value="{{lizard.slug}}">
                    <i class="fa-regular fa-thumbs-up" aria-hidden="true"></i> Like {{ lizard.number_of_likes }}
                </button>
            </span>
            {% else %}
            <span>
                <button class="btn-secondary like-review" type="submit" name="lizard_id" value="{{lizard.slug}}">
                    <i class="fa-regular fa-thumbs-up" aria-hidden="true"></i> Like {{ lizard.number_of_likes }}
                </button>
            </span>
            {% endif %}
        </form>
    </div>
    {% endif %}
    <div class="post-icons">
        <span class="totals">TOTAL LIKES: </span>
        <span class="btn-like no-border"><i class="fa-regular fa-thumbs-up"></i> {{ lizard.number_of_likes }} </span>
    </div>
    <!-- post comments count -->
    <div class="post-icons">
        <span class="totals">TOTAL COMMENTS:</span>
        {% with experiences.count as total_experiences %}
        <span class="btn-like m-1"><i class="fa-regular fa-comment"></i> {{ total_experiences }} </span>
        {% endwith %}
    </div>
    <div class="post-icons">
        <a class="btn-back mt-4" href="{% url 'home' %}">&laquo; Previous</a>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <!-- Shared experiences (comments) section -->
    <div class="container">
        <div class="row">
            <div class="card-container col-lg-8 mb-4 mt-3">
                <h3>Shared experiences:</h3>
                <hr>
                <div>
                {% if experiences %}
                    {% for experience in experiences %}
                        <div class="comments">
                            <div>
                                <p class="post-icon mt-1">
                                    <i class="fa-solid fa-user pr-1"></i> {{ experience.user }}
                                    <i class="fa-solid fa-dragon"></i> {{ experience.pet_name}} 
                                    <i class="fa-solid fa-ruler-horizontal"></i> {{ experience.size }} cm
                                    <i class="fa-solid fa-calendar-days"></i> <span>{{ experience.created_on }}</span> 
                                </p>
                            </div>
                            <div>
                                {{ experience.body | linebreaksbr }}
                            </div>
                            {% if request.user == experience.user %}
                                    <div class="col-sm mt-1">
                                        <a class=" btn-sm btn-edit"
                                            href="{% url 'edit_experience' lizard.slug experience.pk %}">Edit</a>
                                        <a class="btn-sm btn-edit"
                                            href="{% url 'delete_experience' lizard.slug experience.pk %}">Delete</a>
                                    </div>
                                {% endif %}
                        </div>
                    <hr>
                    {% endfor %}
                {% else %}
                    <p>No comments yet, be the first to share your experience!</p>

                    {% if not user.is_authenticated %}
                        <p>
                            To share your experience, <a class="link" href="{% url 'account_login' %}">log in</a> to our site!<br> 
                            If you do not have an account, please <a class="link" href="{% url 'account_signup' %}">register</a> here.
                        </p>
                    {% endif %}

                {% endif %}
                </div>
            </div>
            <div class="card-container col-lg-4 mb-4 mt-3 ">
            {% if user.is_authenticated %}
                <h3>Share your experience:</h3>
                <p>Posting as: {{ user.username }} </p>
                <form class ="body-experience" method="post">
                    {% csrf_token %}
                    {{ experience_form }}

                    <button type="submit" class="btn-comment btn-signup btn-md mt-2"> &#129422 Submit</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

